/////////////////////////////////////////////////////////
// Variables
/////////////////////////////////////////////////////////


// Fonts
$font-header: 'Droid Serif', serif;
$font-copy: 'Raleway', sans-serif;


// Colors
/* Thanks to https://color.adobe.com/DermInc-02-color-theme-457729/ */
$color-primary: #1D7872;
$color-secondary: #71B095;
$color-accent: #D13F32;
$color-light: #DEDBA7;
$color-lighter: lighten(#DEDBA7, 20%);
$color-dark: #1A212C;


// Corners and shadows
$border-radius: 10px;
$shadow-size: 5px;
$shadow-blur: 5px;
$shadow-color: rgba(0,0,0,0.20);


// Grid System
$num-cols: 12;
$col-margin: 3%;
$col-width: (100 - ($num-cols - 1) * $col-margin) / $num-cols;


// Media Breakpoints
$max-width-medium: 799px;
$max-width-small: 649px;