/////////////////////////////////////////////////////////
// Variables
/////////////////////////////////////////////////////////


// Fonts
// $font-header: 'Droid Serif', serif;
$font-header: 'Roboto Condensed', serif;
$font-copy: 'Raleway', sans-serif;



// Colors
/* Thanks to https://color.adobe.com/DermInc-02-color-theme-457729/ */
$color-primary: #B4C952;
// $color-secondary: lighten(#B4C952, 30%);
$color-secondary: lighten(#445566, 20%);
$color-accent: #B02E78;
// $color-light: lighten(#B4C952, 30%);
$color-light: lighten(#ddeeff, 3%);
$color-lighter: #FFF;
$color-dark: #445566;


// Corners and shadows
$border-radius: 10px;
$shadow-size: 5px;
$shadow-blur: 5px;
$shadow-color: rgba(0,0,0,0.20);


// Grid System
$num-cols: 12;
$col-margin: 3%;
$col-width: (100 - ($num-cols - 1) * $col-margin) / $num-cols;


// Media Breakpoints
$max-width-medium: 799px;
$max-width-small: 649px;