/////////////////////////////////////////////////////////
// Variables
/////////////////////////////////////////////////////////


// Fonts

// Uncomment for offline development:
//@font-face {
//  font-family: 'Roboto Condensed';
//  font-weight: 700;
//  font-style: normal;
//  src: url('/local/Roboto-Condensed-700/Roboto-Condensed-700.eot');
//  src: url('/local/Roboto-Condensed-700/Roboto-Condensed-700.eot?#iefix') format('embedded-opentype'),
//  local('Roboto Condensed Bold'),
//  local('Roboto-Condensed-700'),
//  url('/local/Roboto-Condensed-700/Roboto-Condensed-700.woff2') format('woff2'),
//  url('/local/Roboto-Condensed-700/Roboto-Condensed-700.woff') format('woff'),
//  url('/local/Roboto-Condensed-700/Roboto-Condensed-700.ttf') format('truetype'),
//  url('/local/Roboto-Condensed-700/Roboto-Condensed-700.svg#RobotoCondensed') format('svg');
//}
//
//@font-face {
//  font-family: 'Raleway';
//  font-weight: 400;
//  font-style: normal;
//  src: url('/local/Raleway-regular/Raleway-regular.eot');
//  src: url('/local/Raleway-regular/Raleway-regular.eot?#iefix') format('embedded-opentype'),
//  local('Raleway'),
//  local('Raleway-regular'),
//  url('/local/Raleway-regular/Raleway-regular.woff2') format('woff2'),
//  url('/local/Raleway-regular/Raleway-regular.woff') format('woff'),
//  url('/local/Raleway-regular/Raleway-regular.ttf') format('truetype'),
//  url('/local/Raleway-regular/Raleway-regular.svg#Raleway') format('svg');
//}

$font-header: 'Roboto Condensed', serif;
$font-copy: 'Raleway', sans-serif;

// Colors
//$color-dark: #445566; // text and nav buttons
//$color-secondary: #7088a0; // nav rollover
//$color-accent: #B02E78; // links and h2s
//$color-light: #ecf6ff; // sidebars and active nav
//$color-lighter: #FFF; // page background

$color-dark: #223344;
$color-secondary: #556677; // nav rollover
$color-accent: #dd4923; // links and h2s
$color-light: rgba(136, 153, 170, 0.2); // sidebars and active nav
$color-lighter: #FFF; // page background

// Corners and shadows
$border-radius: 10px;
$shadow-size: 5px;
$shadow-blur: 5px;
$shadow-color: rgba(0,0,0,0.20);


// Grid System
$num-cols: 12;
$col-margin: 3%;
$col-width: (100 - ($num-cols - 1) * $col-margin) / $num-cols;


// Media Breakpoints
$max-width-medium: 799px;
$max-width-small: 649px;